@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

$font-color: #1A1A1A;
$btn-back-color: #066F14;
$btn-color: #FFFFFF;
$font-text-color: #4A4A4A;

@mixin _479 {
  @media (max-width: 479px) {
    @content;
  }
}

body {
  color: $font-color;
  box-sizing: border-box;
}

.title {
  font-family: "Nunito";
}

.text, a, span {
  font-family: "DM Sans";
}

.container {
  width: 75%;
  margin: auto;
}

a {
  text-decoration: none;
}

.btn {
  padding: 1rem 2rem;
  background: $btn-back-color;
  color: $btn-color;
  border-radius: 4px;
  border: none;
  font-size: 1.05rem;
  font-family: "DM Sans";
  cursor: pointer;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-bottom: 2.8rem;

  .nav__list {
    display: flex;
    margin: 0;

    @include _479 {
      flex-wrap: wrap;
    }

    .nav__item {
      padding-right: 3rem;
      list-style: none;

      .nav__link {
        color: $font-color;
      }
    }
  }

  .auth {
    @include _479 {
      display: flex;
      flex-wrap: wrap;
    }

    .auth__signup {
      padding: 0.8rem 1rem;
      margin-left: 3rem;
      border-radius: 0.25rem;
      background: $btn-back-color;
      color: $btn-color;

      @include _479 {
        margin-left: 0;
        background: none;
        padding: 0;
        color: #1A1A1A;
      }
    }
  }

  .auth__login {
    color: $font-color;
  }
}

.top {
  padding-bottom: 6.4rem;

  .container {
    background-image: url("./upload/klipartz 5.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;

    @include _479 {
      background: none;
    }
  }

  .top__title {
    font-size: 4.5rem;
    width: 34.25rem;
    font-weight: bold;
    margin-bottom: 1.5rem;

    @include _479 {
      font-size: 2.5rem;
      width: 20.25rem;
    }
  }

  .top__text {
    font-size: 1rem;
    color: $font-text-color;
    width: 31.5rem;
    margin-bottom: 40px;

    @include _479 {
      width: 20.25rem;
    }
  }

  .top__btn {
    margin-bottom: 3.75rem;
    border-radius: 0.25rem;
  }

  .top__footer {
    display: flex;
    justify-content: space-between;
    width: 34.25rem;

    @include _479 {
      flex-wrap: wrap;
      width: auto;
    }

    .top__item {
      display: flex;
      flex-direction: column;
      text-align: center;

      .top__count {
        font-size: 3rem;
        color: #001B04;
        margin-bottom: 0.625rem
      }

    }
  }
}

.collection__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8rem;

  @include _479 {
    flex-direction: column;
    padding-bottom: 4rem;
  }

  .collection__info {

    .collection__title {
      margin: 0 0 3rem 0;
      font-size: 3rem;
      width: 25rem;
      font-weight: 700;

      @include _479 {
        font-size: 2rem;
        width: 20rem;
      }
    }

    .collection__link {
      color: $font-text-color;
      font-size: 1.2rem;
    }
  }

  .collection__gallery {
    display: flex;
    justify-content: space-between;
    width: 43.4rem;

    @include _479 {
      flex-wrap: wrap;
      width: auto;
      justify-content: center;
      margin-top: 2rem;
    }
  }
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8rem;

  @include _479 {
    padding-bottom: 3rem;
  }

  .about__item {
    width: 27rem;
    padding-top: 2.2rem;

    @include _479 {
      display: none;
    }
  }

  .about__info {
    width: 31rem;

    .about__header {
      color: $btn-back-color;
      font-weight: 500;
      margin-bottom: 0.7rem;
    }

    .about__title {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
    }

    .about__text {
      font-color: $font-text-color;
    }

    .about__text-main {
      font-weight: 500;
      margin-bottom: 3rem;
    }

    .about__btn {
      padding: 1rem 2rem;
      background: $btn-back-color;
      color: $btn-color;
      border: none;
      border-radius: 4px;
    }
  }
}

.product {
  text-align: center;
  padding-bottom: 8rem;

  @include _479 {
    padding-bottom: 3rem;
  }

  .product__title {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "Nunito";
    margin-bottom: 1.5rem;
  }

  .product__filter {
    margin-bottom: 3.1rem;

    .product__category {
      color: $font-text-color;
      margin-left: 1.5rem;
    }

    .product__category-active {
      color: $btn-back-color;
    }
  }

  .product__catalog {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.5rem;

    @include _479 {
      flex-wrap: wrap;
      justify-content: center;
    }


    .product__item {
      box-sizing: border-box;
      padding-top: 0.6rem;
      width: 16rem;
      height: 16.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include _479 {
        width: 10rem;
        height: 10.5rem;
      }

      .product__elem {
        display: inline-block;
        margin-bottom: 0.5rem;
        //display: flex;

        .product__image {
          @include _479 {
            width: 4rem;
          }
        }
      }

      .product__info {
        text-align: left;
        padding-left: 2rem;

        .product__name {
          font-size: 1.5rem;
          font-family: "Nunito";
          font-weight: 600;
          margin-bottom: 1rem;

          @include _479 {
            font-size: 1rem;
          }
        }
      }
    }

    .product__item-first {
      background: #EAF2E5;
    }

    .product__item-second {
      background: #F0EBE6;
    }

    .product__item-third {
      background: #E2ECE4;
    }

    .product__item-fourth {
      background: #E7EEED;
    }
  }
}

.opinion {

  .container {
    background-image: url("./upload/pexels-cottonbro-4507699 1.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    padding-bottom: 2.5rem;
    margin-bottom: 10rem;

    @include _479 {
      margin-bottom: 4rem;
    }

    @include _479 {
      background: none;
    }

    .opinion__title {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 0.7rem;

      @include _479 {
        font-size: 2rem;
      }
    }

    .opinion__text {
      font-weight: 500;
      width: 31.3rem;
      margin-bottom: 2.5rem;

      @include _479 {
        width: 16.3rem;
      }
    }

    .opinion__review {
      background: $btn-back-color;
      width: 37rem;
      padding: 1rem 1.5rem 1rem 2rem;
      box-sizing: border-box;
      color: #FFFFFF;

      @include _479 {
        width: 16.3rem;
      }

      .opinion__head {
        display: flex;

        .opinion__person {
          display: flex;
          flex-direction: column;

          .person__name {
            font-size: 1.1rem;
            font-weight: 600;
            font-family: "Nunito";
            margin-bottom: 0.3rem;
          }

          .person__prof {
            font-size: 0.9rem;
            font-weight: 400;
            color: #D9D9D9;
            margin-bottom: 1.2rem;
          }
        }
      }

      .opinion__text {
        font-weight: 400;
        color: #ECECEC;
        margin-bottom: 0.3px;

        @include _479 {
          width: 12.3rem;
        }
      }
    }
  }
}

.form {

  .container {
    display: flex;
    justify-content: center;

    .form__content {
      width: 65rem;
      height: 20rem;
      background: #DFFFE3;
      padding-top: 2.5rem;
      padding-left: 4rem;
      padding-right: 1.5rem;
      box-sizing: border-box;
      margin-bottom: 5rem;

      @include _479 {
        width: 20rem;
        padding-left: 2rem;
        padding-top: 0.5rem;
      }

      .form__back {
        background-image: url("./upload/klipartz 14.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;

        @include _479 {
          background: none;
        }

        .form__title {
          font-weight: 700;
          font-size: 2.5rem;
          margin-bottom: 0.75px;

          @include _479 {
            font-size: 2rem;
          }
        }

        .form__text {
          width: 28.5rem;
          margin-bottom: 1.9rem;

          @include _479 {
            width: 15.5rem;
          }
        }

        .form__subscribe {
          @include _479 {
            display: flex;
          }
          .form__input {
            width: 28.5rem;
            padding: 1.2rem 0.5rem 1.2rem 1.2rem;
            border: none;

            &:focus {
              outline: none;
            }
            @include _479 {
              width: 10.5rem;
            }
          }
          .form__btn {
            @include _479 {
              width: 4rem;
              padding: 0.5rem 0.5rem;
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}

.follow {
  text-align: center;

  .follow__title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.6rem;
  }

  .follow__text {
    color: #4A4A4A;
    width: 34rem;
    display: inline-block;
    margin-bottom: 2.5rem;

    @include _479 {
      width: 15rem;
    }
  }

  .follow__gallery {
    display: flex;
    justify-content: center;
    padding-bottom: 8rem;

    @include _479 {
      flex-wrap: wrap;
      padding-left: 0;
      padding-bottom: 4rem;
    }

    .follow__item {
      list-style: none;
    }
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5rem;

  @include _479 {
    flex-direction: column;
  }

  .footer__info {

    .logo {
      margin-bottom: 1.5rem;
      display: inline-block;
    }

    .footer__text {
      width: 19rem;
      color: #5A5A5A;
      margin-bottom: 1.4rem;
    }

    .footer__contacts {
      display: flex;

      @include _479 {
        margin-bottom: 2rem;
      }

      .footer__facebook, .footer__twitter, .footer__inst {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        background: #EDFFDD;
        margin-right: 0.7rem;
      }
    }

  }

  .footer__navigation {

    .footer__title {
      font-size: 1.5rem;
      margin: 0;
      font-weight: 700;
    }

    .menu {

      .menu__list {
        padding: 0;

        .menu__item {
          list-style: none;

          .menu__link {
            color: #5A5A5A;
            display: inline-block;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}